<div class="table-responsive">
  <table class="table table-striped" aria-describedby="Listado">
    <thead class="thead-dark">
      <tr>
        <th scope="col" *ngFor="let column of columnas" [class]="column.headerClass" [style.width]="column.width">
          {{column.header}}
        </th>
        <th scope="col" class="text-center">
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td *ngFor="let column of columnas;" [class]="column.dataClass">
          <ng-container *ngIf="column.render != null">
            <div [outerHTML]="column.render(item[column.data])">
            </div>
          </ng-container>

          <ng-container *ngIf="column.render == null">
            {{item[column.data]}}
          </ng-container>

        </td>
        <td class="text-center">
          <i class="fa fa-trash text-danger mr-3 eliminar" role="button" (click)="eliminar(item.id)" aria-hidden="true"></i>
          <i class="fa fa-pencil text-primary editar" role="button" (click)="editar(item.id)" aria-hidden="true"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>