<div class="bg-banner p-3">
    <div class="container d-flex justify-content-between">
        <div class="align-self-center">
            <p class="m-0 fz-20 font-weight-bold">Reservas</p>
        </div>
        <div>
            <button class="btn btn-primary fz-20" [routerLink]="['./create']">Nueva reserva</button>
        </div>
    </div>
</div>

<div class="mt-4 container">
    <div class="d-flex justify-content-between flex-wrap">
        <p>Tarifa general : 15.000</p>
        <p>Tarifa descuento mas de 2 horas : 12.500</p>
        <p>Tarifa prestamo instrumento : 5.000</p>
    </div>
    <app-listar-reserva></app-listar-reserva>
</div>
