<div class="bg-banner p-3">
    <div class="container d-flex justify-content-between">
        <div class="align-self-center">
            <p class="m-0 fz-20 font-weight-bold">Instrumentos</p>
        </div>
        <div>
            <button class="btn btn-primary fz-20" [routerLink]="['./create']">Nueva reserva</button>
        </div>
    </div>
</div>

<div class="mt-4 container">
    <div>
        <p>Tarifa prestamo instrumento : 5.000</p>
    </div>
    <app-listado [componente]="componente" [columnas]="columnasInstrumentos" [urlEditar]="urlEditar"></app-listado>
</div>
